.settings/*
lib/smarty/templates_c/*
lib/smarty/cache/*
.buildpath
.project/*
.project
nbproject/*
backups/Dolphin/*
backups/iHealth/*
Release.key
arquivos/*
includes/models/MysqlConn_MYSLQ.php
includes/classes/logIN.php
